# {{ ansible_managed }}

# Flanneld c nfiguration options
# etcd url location.  Point this to the server where etcd runs
{% macro etcd_endpoints() -%}
{% for host in groups.all -%}
{% if 'etcd' in hostvars[host] and hostvars[host]['etcd'] == true -%}
{{ 'http://'+{{ host }}+':4001'|join(',') }}
{% endif -%}
{% endfor -%}
{% endmacro -%}

FLANNEL_ETCD={{ etcd_endpoints() }}

# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_KEY={{ flannel_etcd_key }}
# Any additional options that you want to pass
#FLANNEL_OPTIONS=""





