# {{ ansible_managed }}

# Flanneld c nfiguration options
# etcd url location.  Point this to the server where etcd runs
{%- macro etcd_hosts() -%}
{%- set comma = joiner(",") -%}
{%- for host in groups.all -%}
{%- if hostvars[host]['etcd']|default(false) == true -%} {{ comma() }}
http://{{  host }}:4001
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

FLANNEL_ETCD={{ etcd_hosts() }}

# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_KEY={{ flannel_etcd_key }}
# Any additional options that you want to pass
#FLANNEL_OPTIONS=""

