[Unit]
Description=etcd - highly-available key value store
Documentation=https://github.com/coreos/etcd
Documentation=man:etcd
After=network.target
Wants=network-online.target

[Service]
Environment=DAEMON_ARGS=
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR={{ etcd_data_dir }}/default
EnvironmentFile=-/etc/default/%p
Type=notify
User={{ etcd_user }}
PermissionsStartOnly=true
ExecStart=/usr/bin/etcd $DAEMON_ARGS
ExecStartPost=/bin/sh -c '/usr/bin/etcdctl set {{ flanneld_etcd_key }}/config < {{ etcd_conf_dir }}/flannel-config.json'
Restart=on-abnormal
#RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
